    :root{
        --LeBlanc: #FCFCFC;
        --font: Hel;
    }
    @font-face {
    font-family: "Hel"; 
    src: url("/fuentes/Helvetica Regular.otf") format("opentype");
    font-weight: normal;
    }
    @font-face {
    font-family: "T"; 
    src: url("/fuentes/TenorSans.woff2") format("opentype");
    font-weight: 100;
     font-style: normal;
    }
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }