@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

:root {
    --blanco-fondo: #FCFCFC;
    --gris-fondo: #F8F8F8;
    --Font: 'Tenor Sans', sans-serif;
    --gris-claro: #ccc;
    --blanco-form: #FFFFFF;
    --gris-form: #F7F7F7;
    --negro: #000000;
    --gris-oscuro: #666;
    --negro-boton: #1a1a1a;
    --rojo-enlace: #DD8560;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blanco-fondo);
    font-family: var(--Font);
    overflow: hidden;
}

.img-modelo {
    display: none;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
    max-height: 100%;
    overflow: hidden;
}

.form-container {
    padding: 100px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.tittle {
    margin-bottom: 2rem;
    text-align: left;
}

.tittle h1 {
    font-size: 2rem;
    font-weight: 200;
    color: var(--negro);
}

.tittle2 {
    margin-left: 20px;
    margin-top: -12px;
}

.tittle img {
    width: 150px;
    margin: 0.8rem 0;
}

.login-form {
    width: 100%;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group {
    position: relative;
}

.input-group input {
    width: 100%;
    height: 3rem;
    padding: 0 1rem 0 3.2rem;
    border: 1px solid #efefef;
    border-radius: 1.2rem;
    font-size: 1rem;
    background-color: var(--gris-form);
    outline: none;
}

.input-group input::placeholder {
    font-family: var(--Font);
    color: #B2B2B2;
    font-size: 11px;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    width: 7%;
}

.input-icon2 {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    width: 9%;
}

.input-icon3 {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    width: 7.5%;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    transform: translateY(-50%);
    width: 7%;
    cursor: pointer;
}



.register-button {
    width: 45%;
    padding: 0.8rem;
    font-family: var(--Font);
    background-color: var(--negro-boton);
    color: var(--blanco-form);
    border: 1px solid #e1e1e1;
    border-radius: 4rem;
    font-weight: 500;
    font-size: 0.7rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #c1c1c1;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 6% 0;
}

.divider h4 {
    white-space: nowrap;
}

.divider .linea {
    height: 12px;
    width: auto;
}

.divider h4 {
    font-family: var(--Font);
    color: var(--rojo-enlace);
    font-size: 0.7rem;
    font-weight: normal;
}

.social-buttons-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 5px;
    margin-bottom: 0.5rem;
    width: 80%;
    max-width: 350px;
}

.social-button {
    flex: 1;
    padding: 0.7rem;
    background-color: #f0f0f0;
    border: 1px solid #e8e8e8;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    color: var(--negro);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.social-button img {
    width: 17px;
    height: 18px;
}

.social-button:hover {
    background-color: #e0e0e0;
}

.register-link {
    font-size: 0.6rem;
    color: var(--negro);
    text-align: center;
    width: 100%;
    max-width: 350px;
    margin-top: 20px;
}

.register-link a {
    color: var(--rojo-enlace);
    font-weight: 200;
    text-decoration: none;
}

/*Modal de exito */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.show {
    visibility: visible;
    opacity: 1;
}

.modal-content {
  background: var(--blanco-form);
  padding: 70px 30px;
  width: 400px;
  height: 450px;
  max-width: 90%;
  max-height: 80%;
  text-align: center;
  position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-content h2 {
    font-size: 1rem;
    letter-spacing: 3px;
    margin-bottom: 1rem;
}

.success-icon {
    width: 60px;
    margin: 1rem 0;
}

.modal-content p {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

.modal.show .modal-content {
    transform: scale(1);
}

.modal-content {
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

.modal.show .modal-content {
    transform: scale(1);
}

.lineacheck {
    width: 140px;
    margin: 0.5rem auto 1.5rem auto;
    display: block;
}

.login-btn {
    background-color: var(--negro-boton);
    padding: 0.7rem 1.5rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
}

.login-btn a {
    text-decoration: none;
    color: var(--blanco-fondo);
}


@media (min-width: 1024px) {
    .main-container {
        flex-direction: row;
        background-color: var(--gris-fondo);
    }

    .tittle {

        text-align: center;
    }

    .tittle h1 {
        font-size: 2.8rem;
        font-weight: 500;
    }

    .tittle2 {
        margin: 0;
    }

    .tittle img {
        width: 160px;

    }

    .form-container {
        flex: 1;
        max-width: 600px;
        padding: 20px;

    }

    .login-form {
        max-width: 400px;
    }

    .input-group input {
        width: 100%;
        height: 4rem;
        background-color: var(--blanco-form);
        padding: 0 1rem 0 3.9rem;
    }

    .input-group input::placeholder {
        font-family: var(--Font);
        font-size: 0.7rem;
        color: #B2B2B2;
    }

    .forgot {
        max-width: 18rem;
        margin-top: -2.2rem;
    }

    .register-button {
        background-color: var(--negro-boton);
        color: var(--blanco-fondo);
        border-radius: 1.5rem;
        font-weight: 300;
        font-size: 1rem;
        padding: 1rem;
    }

    .register-button:hover {
        color: #000000;
    }

    .divider h4 {
        font-size: 16px;
    }

    .social-buttons-container {
        margin-top: 1px;
        margin-bottom: 2rem;
    }

    .social-button {
        padding: 0.8rem;
        font-size: 0.7rem;
    }

    .register-link {
        font-size: 0.8rem;
        margin-top: 5px;
    }

    .img-modelo {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 100dvh;
        overflow: hidden;
    }

    .modelo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }
}