:root {
    --LeBlanc: #FCFCFC;
    --font: Hel;
    --blanco-fondo: #FCFCFC;
    --gris-fondo: #F8F8F8;
    --gris-claro: #ccc;
    --blanco-form: #FFFFFF;
    --gris-form: #F7F7F7;
    --negro: #000000;
    --gris-oscuro: #666;
    --negro-boton: #1a1a1a;
    --rojo-enlace: #DD8560;
}

@font-face {
    font-family: "Hel";
    src: url("/fuentes/Helvetica Regular.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "T";
    src: url("/fuentes/TenorSans.woff2") format("opentype");
    font-weight: 100;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100%;
    height: 70%;
}
.aa{
    width: 100%;
    height: 100%;
    background-color: #FCFCFC;
    position: absolute;
    top: 0px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.main {
    width: 100%;
    min-height: 100dvh;
    padding-top: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
}

.tittle {
    width: 100%;
    height: 50%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-family: T;
}

.Shipping_Adress {
    width: 100%;
    height: 30%;
    padding-left: 15px;
    padding-right: 15px;
    font-family: T;
    font-size: 14px;
}

.linea {
    margin-top: 10px;
    border: 0.1px solid #bcbcbc;
    margin-bottom: -8px;
}

.s_a_c {
    width: 100%;
    height: 70%;
    position: relative;
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 90px;    /* Se seppara del products_coontainer */
    color: #888888;
}

#s_a_c_button {
    width: 100%;
    position: absolute;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    color: #17181A;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #bcbcbc;
}

.cart{
    position: static;
    width: 100%;
    max-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.container_products {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
    box-sizing: border-box;
    max-height: 200px;
}
.product {
    width: 100%;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    padding: 10px;
    font-family: T;
    color: #17181A;
}

.total {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    font-family: T;
}

.add_address {
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: T;
    font-size: 15px;
    gap: 15px;
    z-index: 1;
}

.bag {
    width: 20px;
    height: 20px;
    margin-bottom: 1%;
}
/*Modal*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;  
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;   
}

.modal-content {
    background: var(--blanco-form);
    padding: 40px 30px;
    width: 400px;
    height: 450px;
    max-width: 90%;
    max-height: 80%;
    text-align: center;
    position: relative;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none; 
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.modal-content h2 {
    font-size: 1rem;
    letter-spacing: 3px;
    margin-bottom: 1rem;   
    font-weight: normal; 
}
.modal-content h4 {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight:100;
    color: #333333f8;
}
.modal-content p {
    font-size: 0.7em;
    font-weight:100;
    color: #5c5c5c;
}
.lineacheck {
    width: 120px;
    margin: 1rem auto;
    display: block;
}
.modal-content h5 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight:100;
    color: #333333f8;
}

.success-icon {
    width: 60px;
    margin: 1rem 0;
}
.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 20%;
    padding-right: 20%;
}
.icon {
    display: flex;
    align-items: center;
}
.back-btn {
    margin-top: 15px;
    background-color: var(--negro-boton);
    padding: 0.7rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
}

.back-btn a {
    text-decoration: none;
    color: var(--blanco-fondo);
    font-family: var(--Font);
}

.modal.show .modal-content {
    transform: scale(1);
}

.modal-content {
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

.modal.show .modal-content {
    transform: scale(1);
}



@media (min-width: 1024px) {
    .container_products {
        grid-template-columns: repeat(3, 1fr); /* 🔹 En PC: 3 columnas */
    }

    .main {
        padding: 40px;
    }

    .product {
        padding: 20px;
    }
}