    :root{
        --LeBlanc: #FCFCFC;
        --font: Hel;
    }
    @font-face {
    font-family: "Hel"; 
    src: url("/fuentes/Helvetica Regular.otf") format("opentype");
    font-weight: normal;
    }
    @font-face {
    font-family: "T"; 
    src: url("/fuentes/TenorSans.woff2") format("opentype");
    font-weight: 100;
     font-style: normal;
    }
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    a{
    text-decoration: none;
    color: inherit;      
    }
    body{
        width: 100%;
        height: 70%;
    }
    .main{
        width: 100%;
        height: 100dvh;
        padding-top: 15%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .tittle{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-family: T;
    }
    .aa{
        width: 100%;
        height: 100%;
        background-color: #FCFCFC;
        position: absolute;
        top: 0px;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }
 
    .Shipping_Adress{
        width: 100%;
        height: 30%;
        padding-left: 15px;
        padding-right: 15px;   
        font-family: T;  
        font-size: 14px; 
    }
    .s_a_c{
        width: 100%;
        height: 70%;
        position: relative;
        display: flex;
        gap: 5px;
        flex-direction: column;
        margin-top: 10px;

        color: #888888;
    }   
    .s_a_c_2{
        width: 100%;
        height: 50%;
        position: relative;
        display: flex;
        gap: 5px;
        flex-direction: column;
        margin-top: 10px;

        color: #888888;        
    } 
    #s_a_c_button{
        width: 100%;
        height: 44px;
        background-color: #efefef;
        position: absolute;
        border-radius: 20px;
        bottom: -10px;
        left: -5px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .Shipping_Method{
        width: 100%;
        height: 10%;
        font-family: T;
        font-size: 14px;        
        padding-left: 15px;
        padding-right: 15px;      
        position: relative;
        display: flex;
        gap: 5px;
        flex-direction: column;
        margin-top: 10px;
        color: #888888;
    }


    .PaymentMethod{
        width: 100%;
        height: 10%;
        font-family: T;
        font-size: 14px;        
        padding-left: 15px;
        padding-right: 15px;      
        position: relative;
        display: flex;
        gap: 5px;
        flex-direction: column;
        margin-top: 10px;

        color: #888888;      
        margin-bottom: 50px;
    }    
    .total{
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        align-items: center;
        font-family: T;
    }    
    .add_address{
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: T;
    font-size: 14px;
    }      



.select-box {
  border-radius: 25px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
    color: #888888;
    width: 100%;
}

.select-box select {
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  outline: none;
  appearance: none;
  cursor: pointer;
  width: 100%;
    color: #888888;
    font-family: T;
    font-size: 14px;
}    

@media (min-width: 1000px) {
    .main{

        width: 30%;
        margin-left: 35%;
        height: 100dvh;
        padding-top: 5%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .add_address{
        align-self: center;
    width: 50%;
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: T;
    font-size: 14px;
    margin-bottom: 15%;
    }      
}